/*Source Sans Pro font family link*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
/* Poppins font family link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Source+Sans+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

/*navbar design start*/
.navbar{
 background-color: darkred;
 width: 100%;
 height: 80vh;
}

nav{
    padding: 2% 5%;
    display: flex;

}

nav .logo img{
    width: 100%;
}

nav ul{
    text-align: right;
    flex: 1;
}

nav ul li{
    display: inline-block;
    padding: 12px 12px;
}

nav ul li a{
    font-size: 15px;
    color: rgb(202, 197, 197);
}

.our-menu{
    color: white;
}

nav ul li a:hover{
    color: white;
}/*faded light effect*/

nav .btn-lg{
    border-radius: 50px;
    color: red;
    background-color: white;
    padding: 12px 43px;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

nav .btn-lg:hover{
    color: darkred;
}

.text{
    margin-top: 8em;
    color: white;
    text-align: center;
}

.text h2{
    font-size: 2em;
    line-height: 0.1;
}

.text h1{
    font-size: 5em;
}

/*Input form*/
.flex
{
    display: flex;
    text-align: left;
    margin: 0 8em;
    padding-top: 7%;
}

.left-side{
    margin-top: 7%;
}

.left-side h1{
    font-size: 50px;
    color: darkred;
    padding-bottom: 50px;
    text-decoration: underline;
}

.left-side h2{
    font-size: 20px;
    color: red;
}

.left-side i{
    color: black;
    padding-right: 10px;
}

.left-side h3{
    margin-top: 90px;
    font-size: 40px;
    color: darkred;
    margin-bottom: 10px;
    text-decoration: underline;
}

.left-side h4{
    padding-top: 10px;
    font-size: 16px;
}

.right-side{
    margin-left: 15em;
}

.right-side input{
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
}

.right-side span{
    color: darkred;
}

.right-side .btn-lg{
    border-radius: 50px;
    color: white;
    background-color: darkorange;
    padding: 12px 43px;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

.right-side .btn-lg:hover{
    color: darkred;
}
/*Container section*/
.container2{
    display: flex;
    padding-top: 12em;
    background-color: darkred;
    margin-top: 40px;
}

.parts{
    margin-left: 90px;
    margin-top: 5em;
    color: white;
}

.parts img{
    width: 10%;
    padding-bottom: 20px;
}

.parts h1{
    font-size: 3rem;
}

.apps img{
    width: 40%;
    padding: 40px 10px;
}

.screen-image img{
    width: 100%;
    margin-left: 80px;
}

/*footer section*/
.footer{
    background-color: darkred;
    box-shadow: 10px 10px 50px #ccc;
}

nav h1{
    color: white;
    font-size: 1.2em;
    margin-right: 24em;
}

.btn-sm{
    border-radius: 50px;
    color: red;
    background-color: white;
    padding: 10px 30px;
    margin-left: 10em;
    font-size: 15px;
    font-weight: bolder;
    transition: .5s;
}

.btn-sm:hover{
    color: darkred;
}