/*Source Sans Pro font family link*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
/* Poppins font family link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Source+Sans+Pro:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

/*navbar design start*/
.navbar{
 background-color: darkred;
 width: 100%;
 height: 80vh;
}

nav{
    padding: 2% 5%;
    display: flex;

}

nav .logo img{
    width: 100%;
}

nav ul{
    text-align: right;
    flex: 1;
}

nav ul li{
    display: inline-block;
    padding: 12px 12px;
}

nav ul li a{
    font-size: 15px;
    color: rgb(202, 197, 197);
}

.our-menu{
    color: white;
}

nav ul li a:hover{
    color: white;
}/*faded light effect*/

nav .btn-lg{
    border-radius: 50px;
    color: red;
    background-color: white;
    padding: 12px 43px;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

nav .btn-lg:hover{
    color: darkred;
}

.text{
    margin-top: 8em;
    color: white;
    text-align: center;
}

.text h2{
    font-size: 2em;
    line-height: 0.1;
}

.text h1{
    font-size: 5em;
}

.heading{
    padding: 7% 0;
    text-align: center;
    background-color: #ccc;
}

.flex{
    display: flex;
    text-align:  left;
    margin: 0 8em;
    padding-top: 7%;
}

.chooses{
    padding: 0 40px;
}

.chooses img{
    width: 500px;
    margin-bottom: 50px;
}

.chooses img:hover{
    transform: scale(1.1);
}

.chooses .btn-lg{
    border-radius: 50px;
    color: white;
    background-color: darkred;
    padding: 12px 43px;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

.chooses .btn-lg:hover{
    color: orange;
}

.head{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, rgba( 255, 215, 255, 0) 0%, 
    rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), 
    linear-gradient(rgb(124, 7, 7) 52%, rgb(182,188,198) 60%, rgb(126,17,17) 61%);
}
/*Delivery Info*/
.choose{
    padding: 0 4px;
}

.choose img:hover{
    transform: scale(0.8);
}

.choose h1{
    padding: 10px 0;
    font-size: 20px;
}

.choose p{
    font-size: 14px;
    margin-bottom: 30px;
}

.choose .btn-lg{
    border-radius: 50px;
    color: white;
    background-color: darkred;
    padding: 12px 43px;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bolder;
}

.choose .btn-lg:hover{
    color: orange;
}

/*Container section*/
.container2{
    display: flex;
    padding-top: 12em;
    background-color: darkred;
    margin-top: 40px;
}

.parts{
    margin-left: 90px;
    margin-top: 5em;
    color: white;
}

.parts img{
    width: 10%;
    padding-bottom: 20px;
}

.parts h1{
    font-size: 3rem;
}

.apps img{
    width: 40%;
    padding: 40px 10px;
}

.screen-image img{
    width: 100%;
    margin-left: 80px;
}

/*footer section*/
.footer{
    background-color: darkred;
    box-shadow: 10px 10px 50px #ccc;
}

nav h1{
    color: white;
    font-size: 1.2em;
    margin-right: 24em;
}

.btn-sm{
    border-radius: 50px;
    color: red;
    background-color: white;
    padding: 10px 30px;
    margin-left: 10em;
    font-size: 15px;
    font-weight: bolder;
    transition: .5s;
}

.btn-sm:hover{
    color: darkred;
}